* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
footer,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


.todo {
  min-width: 100%;
  min-height: 100vh;
  background-color: #111;
  font-family: 'Hind', sans-serif;
  padding: 1rem 0;
}

.todo .todo__header {
  font-size: 3rem;
  font-weight: 50;
  margin: 0 0 3rem;
  text-align: center;
  color: #fff;
}
.todo .todo__header-styling {
  font-weight: 800;
  color: lime;
}

.todo .todo__input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo .todo__input .todo__input-data{
  height: 50px;
  background-color: #fff;
  width: 450px;
  font-size: 1.15rem;
  margin: 0.25rem;
  border-radius: 25px;
  padding: .5rem 1rem;
}

.todo .todo__input .todo__input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #fff;
  color: #fff;
  margin: 0.25rem;
  background-color: lime;
  cursor: pointer;
}

.todo .todo__input .todo__input-button svg{
  pointer-events: none;
}

.todo .todo__input .todo__input-button:hover {
  opacity: 0.7;
}

.todo .todo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.todo .todo__container .todo__container-item {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid #fff;
}

.todo .todo__container .todo__container-item .todo__container-item-input {
  background: none;
  color: #fff;
  border: none;
  width: 350px;
  font-size: 1.4rem;
}

.todo .todo__container .todo__container-item .todo__container-item-editButton {
  font-size: 1.4rem;
  margin: 0 0.5rem;
  background: none;
  color: lime;
  border: none;
}

.todo .todo__container .todo__container-item .todo__container-item-removeButton {
  font-size: 1.4rem;
  background: none;
  color: #e00;
  border: none;
}